{% extends "casa/review/page-block.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageBlockTitle %}
  {{ t('yes-no:h1') }}
{% endblock %}

{% block reviewBlock %}
  {% set pData = journeyContext['yes-no'] %}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
      {
        key: {
          text: t('yes-no:moreDifficult.label')
        },
        value: {
          text: pData.moreDifficult
        },
        actions: {
          items: [
            {
              href: waypointEditUrl + '#f-moreDifficult',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('yes-no:moreDifficult.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}