{% extends "layouts/journey-fullwidth.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}

{% block casaPageTitle %}
  {{ t('checkboxes:pageTitle') }}
{% endblock %}

{% block journey_form %}
  {{ casaGovukCheckboxes({
    name: "boxes",
    casaErrors: formErrors,
    casaValue: formData.boxes,
    fieldset: {
      legend: {
        text: t('checkboxes:boxes.label'),
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: t('checkboxes:boxes.hint')
    },
    items: [{
      value: "Twix",
      text: t('checkboxes:boxes.options.twix')
    },{
      value: "Timeout",
      text: t('checkboxes:boxes.options.timeout')
    }, {
      value: "Double Decker",
      text: t('checkboxes:boxes.options.doubleDecker')
    }, {
      value: "Breakaway",
      text: t('checkboxes:boxes.options.breakaway')
    }]
  }) }}

  <p class="govuk-body">
  </p>

  <p class="govuk-body">
  </p>

{% endblock %}
